:root{
    --margin-page: 60xp;
}
*{
    padding: unset;
    margin: unset;
    border: unset;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    font-family:roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style: none;
    box-sizing: border-box;
    outline: unset;

}
.lista{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.lista ul{
    display: flex;
    justify-content: space-between;
    gap: 32px;
}
body{
    color: floralwhite;
    background-color: blueviolet;
}
button{
    padding: 5px;
    border-radius: 10px;
    background-color: #24A812;
    color: #FFFFFF;
}